/node_modules
/public/build
/public/hot
/public/storage
/public/html
/public/images
/public/js
/public/css
/public/fonts
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
deploy.sh
/deploy_log